Source: rmtfs
Section: pocophone
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper-compat (= 12), libqrtr-dev, libeudev-dev
Standards-Version: 4.3.0
Homepage: https://github.com/andersson/rmtfs
Vcs-Git: https://github.com/maemo-leste/rmtfs
Vcs-Browser: https://github.com/maemo-leste/rmtfs

Package: rmtfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qualcomm Remote Filesystem Service Implementation
